._callback {
    position: relative;
    min-height: 259px;
    padding: 40px;
    margin-bottom: 25px;
    box-sizing: border-box;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    box-shadow: 0px 11px 54px 0px rgba(60,60,60,0.4);    
}

._callback__title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0;
}

._callback__text {
    margin-top: 0;
    margin-bottom: 27px;
}

._callback__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

._callback__link {    
    margin-right: 10px;
    margin-bottom: 10px;
}

._callback__img { 
    display: block;
    margin: 0 auto;
}    

@media (min-width: $tablet-width) {
    ._callback__title {
        font-size: 26px;
        line-height: 32px;
    }    
}    

@media (min-width: $desktop-width) {
    ._callback {
        border-radius: 10px;
    }
    
    ._callback__title {
      max-width: 670px;
      text-align: left;
    }   

    ._callback__img {
        position: absolute;
        top: -30px;
        right: 55px;
    }

    ._callback__links {
        display: block;
        margin-bottom: 0;
    }
}    
