._product {
    position: relative;
    padding-bottom: 30px;
    min-height: 395px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
}

._product__fig {
    margin: 0;
    padding: 0;    
    text-align: center;
}

._product__img {
    border-radius: 6px;
}

._product__figcaption {
    padding-top: 2px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;

    span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
    }
}

._product__params {
    margin-bottom: 20px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

._product__price {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    padding: 5px;
    background-color: #0064c1;
    border-radius: 3px;
}

._product__size {
    font-size: 14px;
    line-height: 18px;
    color: #a7a7a7;
    padding: 5px;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
}

._product__order {
    box-sizing: border-box;
    display: block;
    margin-top: auto;
}

._product__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    margin-top: auto;
}

._product__link:hover {  
    border-radius: 10px;
    box-shadow: 0px 4px 27px 0px rgba(70,67,67,0.51);
}

._product:hover ._product__order {
    display: block;
}