.swiper2 .swiper-slide {
    height: auto;
}

.swiper3 .swiper-slide {
    height: auto;
}

.swiper-pagination-bullet-active {
    background: #f98900;
}

.swiper1 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.swiper2 {
    width: 94%;
}

.swiper3 {
    width: 94%;
}


