.swiper2 .swiper-slide {
    height: auto;
}

.swiper3 .swiper-slide {
    height: auto;
}

.swiper-pagination-bullet-active {
    background: #f98900;
}

.swiper2 {
    width: 94%;
}

.swiper3 {
    width: 94%;
}


